* {
    background-color: #3d5a80;
}

p {
    background-color: #90d7ff;
    padding: 2rem;
    border-radius: 2rem;
    font-size: 2rem;
}

.image {
    border-radius: 100rem;
    height: 20rem;
}

.header {
    // background-color: blue;
}

.back {
    text-align: center;
    // background-color:;
  }